
.cabecalho {
    background-color: #6959CD;
    color: #fff;
    width: 100%; 
    font-size: 1.5rem;
    font-weight: bold;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1% 0; 

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                display: block;
                text-decoration: none;
                padding: 8px 16px;
                color: #fff;
                transition: background-color ease-out 300ms, color ease-out 300ms;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    .active {
        background-color: 	#191970;
    }
}
